{% extends 'master.html' %}
{% block body %}
<div id="contact-page" class="container">
    <p>
     <h2>Terms and Conditions</h2><br>
    <h5>INTRODUCTION</h5>
    <p>
        Welcome to one-click pick.com.bd also hereby known as “we", "us" or "one-click pick".
        We are an online marketplace and these are the terms and conditions governing your access and use of one click pick along with its related sub-domains, sites, mobile app, services and tools (the "Site"). By using the Site,
        you hereby accept these terms and conditions (including the linked information herein) and represent that you agree to comply with these terms and conditions (the "User Agreement").
        This User Agreement is deemed effective upon your use of the Site which signifies your acceptance of these terms. If you do not agree to be bound by this User Agreement please do not access, register with or use this Site.
        This Site is owned and operated by Daraz Bangladesh Limited, a company incorporated under the Companies Act, 1994, (Registration Number: 117773/14).
        The Site reserves the right to change, modify, add, or remove portions of these Terms and Conditions at any time without any prior notification.
        Changes will be effective when posted on the Site with no other notice provided.
        Please check these Terms and Conditions regularly for updates.
        Your continued use of the Site following the posting of changes to Terms and Conditions of use constitutes your acceptance of those changes.
    </p>
     <br> <br> <br>
    <h4>Conditions for Returns</h4>
    <p>

    </p>
       1. The product must be unused, unworn, unwashed and without any flaws. Fashion products can be tried on to see if they fit and will still be considered unworn. If a product is returned to us in an inadequate condition, we reserve the right to send it back to you.
     <br><br>   2. The product must include the original tags, user manual, warranty cards, freebies and accessories.
      <br><br>   3. The product must be returned in the original and undamaged manufacturer packaging / box. If the product was delivered in a second layer of Daraz packaging, it must be returned in the same condition with return shipping label attached. Do not put tape or stickers on the manufacturers box.
      <br><br>   4. While you return the item at our hub, please collect the Daraz Return Acknowlegement Form from the Hub and fill it in by yourself. Keep one copy to yourself and we will keep another copy of it for the record.

      <br> <br>  Note: It is important to indicate the order number and return tracking number on your return package to avoid any inconvenience/delay in process of your return.

   </p><br> <br> <br>
    <h4>Privacy & Policy</h4>
    <p>We collect information to provide better services to all our users — from figuring out basic stuff like which language you speak, to more complex things like which ads you’ll find most useful, the people who matter most to you online, or which YouTube videos you might like. The information Google collects, and how that information is used, depends on how you use our services and how you manage your privacy controls</p>
<br> <br> <br>
</div>

{% endblock %}